extends layout

block scripts

  script#textarea(type='text/html').
      {{#with object}}
        <label>
          {{label}}
          {{#if required}} * {{/if}}
          <textarea id="{{name}}" name="{{name}}" class='{{className}}'>{{value}}</textarea>
        </label>
        {{#if error}}
          <p class='error-text'>{{error}}</p>
        {{/if}}
        {{#if helpText}}
          <span class="help-block"> {{helpText}} </span>
        {{/if}}
      {{/with}}

  script#text(type='text/html').
      {{#with object}}
        <label>
          {{label}}
          {{#if required}} * {{/if}}
          <input id="{{name}}" type="text" name="{{name}}" value="{{value}}">
        </label>
        {{#if error}}
          <p class='error-text'>{{error}}</p>
        {{/if}}
        {{#if helpText}}
          <span class="help-block"> {{helpText}} </span>
        {{/if}}
      {{/with}}

  script#checkbox(type='text/html').
    {{#with object}}
      <h5> Select PRODs: </h5>
      <div class='well'>
        {{#each fields}}
          {{#each this}}
          <label class="prod {{this.name}}">
            <input type="checkbox" name="{{this.name}}" {{this.value}} >
            {{this.label}}
          </label>
          {{#if this.helpText}}
            <span class="help-block"> {{this.helpText}} </span>
          {{/if}}
          {{/each}}
        {{/each}}
      </div>
      <span class='help-block'> Selecting a PROD from the list above will
      include this document on that PROD. It will also append fields to this form that
      are required for that PROD.</span>
    {{/with}}

  script#formset(type='text/html').
    <div class='formset' id='<%= name %>'>
      <h5> Links </h5>
      <div class='well'>
      <%= forms %>
      <button class='btn'>Add Another</button>
      </div>
    </div>

  script#forms(type='text/html').
    <div class='form'>
    <%= fields %>
    </div>

  script#select(type='text/html').
      <label class="<%= name %>">
        <%= object.label %>
        <select>
        <% _.each(object.options, function(val) { %>
          <option value="<%= val %>"
            <% if (val.toLowerCase() === object.value) { %>
              selected
            <% } %> >
            <%= val %>
          </option>
        <% }); %>
        </select>
      </label>
      <% if (object.helpText) { %>
        <span class="help-block"> <%= object.helpText %> </span>
      <% } %>

  script#image(type='text/html').
      {{#with object}}

        {{#if loading}}
          <img src='/img/loading.gif'>
        {{/if}}

        {{#if value}}
        <img src='{{value.url}}/convert?w=100&h=100'>
        <a id='change-image' href='#'> Change Image </a>
        {{else}}
          {{#unless loading}}
            <a id='add-image' href='#'> Add Image </a>
          {{/unless}}
        {{/if}}
        <input type='file' class='image-input'>
        {{#if helpText}}
        <span class="help-block"> {{helpText}} </span>
        {{/if}}
      {{/with}}

  script(src='/javascripts/backbone-forms-clean.js')
  script(src='/javascripts/backbone-router.js')


