extends layout

block breadcrumbs
  li.active Home

block content
  .row
    .span12
      h1= title
      p.blurb Welcome to Living Archives on Eugenics Database

  .row.dashboard
    .span2
      a(href='/database/events')
        .well Events
    .span2
      a(href='/database/ideas')
        .well Ideas
    .span2
      a(href='/database/people')
        .well People
    .span2
      a(href='/database/institutions')
        .well Institutions
    .span2
      a(href='/database/places')
        .well Places
    .span2
      a(href='/database/publications')
        .well Publications


  .row.dashboard
    .span2
      a(href='/database/prods/timeline')
        .well Timeline

    .span2
      a(href='/database/prods/heroes-and-villains')
        .well Hereos and Villains