doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/database.css')
    link(rel='stylesheet', href='/javascripts/build/build.css')
    link(rel='stylesheet', href='/bootstrap/bootstrap.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/backbone-min.js')
    script(src='/javascripts/build/build.js')
    script(src="//api.filepicker.io/v1/filepicker.js")
    script(src='/javascripts/handlebars.js')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
    script
      filepicker.setKey('AjpxCz4j4QaeYHScaoB1Iz');
  body

    block navigation
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            a.brand(href='/database') LAE Database
            if currentUser
              #loading-wrapper
              ul.nav.pull-right
                li
                  a(href='/auth/accounts') Accounts
                li
                  a(href='/auth/logout') Logout
                li.divider-vertical
                li
                  a(href='/database/new') <i class='icon-pencil icon-white'></i> New Entry
    .container.main-content

      if currentUser
        ul.breadcrumb
          block breadcrumbs

      block content


    block scripts

