extends layout


block breadcrumbs
  li
    a(href="/") Home
    span.divider /
  li
    a(href="/documents/"+documentType)=documentType
    span.divider /
  li
    a(href='/documents/'+documentType+'/'+doc._id)=doc.title
    span.divider / 
  li.active Edit


block content
  h3 Edit
  #form-wrapper
    
  script(src='/javascripts/backbone-forms.js')
  script(src='/javascripts/backbone-router.js')