extends layout

block breadcrumbs
  li.active Home

block content
  .row
    .span12
      h1= title
      p.blurb Welcome to Living Archives on Eugenics Database

  .row.dashboard
    .span2
      a(href='/documents/events')
        .wrapper Events
    .span2
      a(href='/documents/ideas') 
        .wrapper Ideas
    .span2
      a(href='/documents/people') 
        .wrapper People
    .span2
      a(href='/documents/institutions')
        .wrapper Institutions
    .span2
      a(href='/documents/places')
        .wrapper Places
    .span2
      a(href='/documents/publications')
        .wrapper Publications
        

  .row.dashboard
    .span2
      a(href='/db/prods/timeline')
        .wrapper Timeline
        
    .span2
      a(href='/db/prods/heroes-and-villains')
        .wrapper Hereos and Villains