extends layout

block breadcrumbs
  li.active Home

block content
  .row
    .span12
      h3= title
      p.blurb Welcome to Living Archives on Eugenics Database
  .row
    .span3
      .wrapper
        .header-image
        .header-text
          a(href='/documents/events') Events
    .span3
      .wrapper
        a(href='/documents/ideas') Ideas
    .span3
      .wrapper
        a(href='/documents/people') People
    .span3
      .wrapper
        a(href='/documents/institutions') Institutions
  .row
    .span3
      .wrapper
        a(href='/documents/places') Places
    .span3
      .wrapper
        a(href='/documents/publications') Publications
