extends layout

block breadcrumbs
  li
    a(href='/') Home
    span.divider /
  li.active New Entry

block content
  h4 New Entry
  #form-wrapper

  script(src='/javascripts/backbone-forms.js')
  script(src='/javascripts/backbone-router.js')

