body {
  padding-top: 60px;
  background: #e3e3e1;
}
h1 {
  text-align: center;
}
.myForm {
  width: 100%;
  position: relative;
}
.myForm textarea {
  height: 200px;
}
#form-wrapper {
  width: 100%;
}
.remove-form {
  position: absolute;
  top: 50%;
  right: -30px;
  border: 1px solid #ddd;
  padding: 2px 8px;
  line-height: 19px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #fff;
  color: #000;
}
.remove-form:hover {
  background: #eee;
  text-decoration: none;
}
.formsetView {
  max-width: 450px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.formsetView .myForm {
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.formsetView .myForm .form-field {
  width: auto;
}
.prods {
  position: absolute;
  top: 0;
  right: 0;
}
.myForm textarea,
.myForm input[type='text'],
.myForm select {
  display: block;
  width: 100%;
  min-height: 35px;
  margin-top: 3px;
  margin-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.breadcrumb li,
h3 {
  text-transform: capitalize;
}
h2 {
  font-size: 25px;
  line-height: 25px;
  text-transform: capitalize;
}
h5 {
  font-size: 14px;
  font-weight: normal !important;
  margin: 0 0 5px 0 !important;
}
.well {
  margin-bottom: 10px !important;
}
span.help-block {
  font-size: 12px;
}
p.blurb {
  text-align: center;
  margin-bottom: 40px;
}
.navbar-inverse .navbar-inner {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #535353), color-stop(1, #171717));
  background-image: -webkit-linear-gradient(top, #535353 0%, #171717 100%);
  background-image: -moz-linear-gradient(top, #535353 0%, #171717 100%);
  background-image: -o-linear-gradient(top, #535353 0%, #171717 100%);
  background-image: -ms-linear-gradient(top, #535353 0%, #171717 100%);
  background-image: linear-gradient(top, #535353 0%, #171717 100%);
}
.wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 140px;
  text-align: center;
  background-color: #f5f5f5;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  line-height: 140px;
}
.wrapper a {
  font-size: 14px;
  color: #333;
  font-weight: 800;
}
.wrapper .header-image {
  width: 100%;
}
.wrapper:hover {
  background-color: #ccc;
}
table td {
  background-color: #ececec;
  padding: 13px 8px !important;
}
table td.image {
  padding: 0px !important;
  vertical-align: middle;
  padding-left: 4px !important;
  width: 50px;
}
table td.title {
  width: 180px;
}
span.prod {
  text-transform: capitalize;
  margin-right: 3px;
}
p.field-label {
  text-transform: capitalize;
  font-weight: bold;
}
dt {
  margin-top: 10px;
  text-transform: capitalize;
}
span.prod {
  text-transform: capitalize;
}
.center {
  text-align: center;
}
.margin-top {
  margin-top: 35px;
}
h4 {
  margin-bottom: 30px;
  font-size: 20px;
}
.dashboard {
  margin-bottom: 10px;
}
.dashboard a {
  display: block;
}
.sort-by {
  padding-top: 15px;
}
.sort-by a {
  display: inline-block;
  margin: 0 10px;
}
.prod.timeline {
  margin-top: 15px;
}
.prod.heroes {
  margin-bottom: 15px;
}
input[type='checkbox'] {
  margin: 0 5px !important;
  vertical-align: top;
}
.form-field.prods .prod {
  line-height: 14px;
  margin: 10px 0;
}
.navbar .navbar-inner {
  position: relative;
}
#loading-wrapper {
  position: absolute;
  width: 50px;
  left: 50%;
  margin-left: -25px;
  height: 50px;
}
label {
  font-weight: bold;
  margin-bottom: 0;
}
.form-field {
  margin-bottom: 15px;
  width: 450px;
}
span.help-block {
  margin-top: 2px;
}
.well {
  border: 1px solid #d6d1d1;
  margin-bottom: 5px;
}
.image-input {
  display: none;
}
.error-text {
  margin-top: 3px;
  color: #f00;
}
#myForm .quote {
  height: 100px;
}
td.image img {
  max-width: 40px;
  max-height: 40px;
}
.form-field a {
  display: block;
}
#form-wrapper {
  float: left;
}
#prod-wrapper {
  float: left;
  width: 440px;
  margin-left: 50px;
}
h5 {
  margin-top: 0;
  margin-bottom: 3px;
}
.navbar-inverse .nav > li > a .caret {
  margin-left: 5px;
  border-top-color: #aaa;
  border-bottom-color: #aaa;
  color: #999;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #ddd !important;
  border-bottom-color: #ddd !important;
}
.nav.pull-right li a i.icon-pencil {
  padding-right: 4px;
}
