/**
 * Navigation Styles
 */

@import 'variables'
@import 'bootstrap/mixins'

// Header

#header

  & p
    margin 4px

  & a.logo
    background-image url('/laelogo2.png')
    height 41px
    width 270px
    float right
    margin 0px

  & ul.nav a.active
    gradient-vertical(#A9A89D, #B9B9B1)
    pointer-events none
    cursor default

  & li:hover
    text-decoration underline

img.logo
  display block
  margin-top 6px
  float right
  height 25px

// Sub Header

#sub-header
  // box-shadow inset 0 -1px 1px rgba(255, 255, 255, 0.4),0 1px 1px rgba(0, 0, 0, 0.4)
  background-image url('/img/frontend/background1.png')
  border-bottom 1px solid #bbb

  & div.prod
    scale(0.85)
    backface-visibility(hidden)
    -webkit-transition all .2s ease-in-out
    box-shadow(2px 2px 25px rgba(0,0,0,.25))
    margin-top 18px
    margin-bottom 18px
    padding 7px
    background rgba(255, 255, 255, 0.8)
    border-radius($borderRadius)

    &:hover
      scale(1)

    &.active
      scale(1)

    & img
      max-width 100%
      border-radius($borderRadius)

    & p.label
      margin 2px
      padding-top 4px
      font 700 11px "HelveticaNeue-Light" 
      color #666

#header .navbar
  margin-bottom: 20px
  color: #777777

#header .navbar-inner
  gradient-vertical(#B9B9B1, #A9A89D)
  border-bottom 1px solid #888
  box-shadow 2px 2px 25px rgba(0,0,0,0.25)

#header .navbar .brand
  float: right
  display: block
  padding: 10px 20px 10px
  margin-left: -20px
  font-size: 20px
  font-weight: 200
  color: #777777
  text-shadow: 0 1px 0 #ffffff

#header .navbar .nav > li > a
  color #eee
  text-shadow 0 1px 0 rgba(0,0,0,0.5)
  padding 13px 15px

#header .navbar .divider-vertical
  border-left: 1px solid rgb(148, 148, 148)
  border-right: 1px solid rgb(201, 201, 201)
  height 42px

#app h2
  font-weight 800
  font-size 23px
  color #333

#fullscreenmode
  color #999